<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">
	
	
	<bean id="StBean" class="subhash.model.Student">
		<property name="name" value="subhash" />
		<property name="rollno" value="24" />
		<property name="course" value="adiploma" />
	</bean>
	
	<bean id="ba" class="subhash.aspects.MyMethodBeforeAdvise" />
	<bean id="aa" class="subhash.aspects.MyMethodAfterAdvice" />
	<bean id="ta" class="subhash.aspects.MyMethodThrowsAdvice" />
	<bean id="Aa" class="subhash.aspects.MyMethodAroundAdvice" />
		
	<bean id="MyPointcut" class="org.springframework.aop.support.NameMatchMethodPointCut">
		<property name="mappingName" value="printName"/>
	</bean>
	
	<bean id ="MyAdvisor" class="org.springframework.aop.support.DefaultPointCutAdvisor">
	  <property  name ="mappedName" value = "printName"/>
	  <property name ="advice" ref = "ba"/>
	</bean>
	
	<bean id="StudentProxy"
		class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="target" ref="StBean" />
		<property name="interceptorNames">
			<list>
				<value>ba</value>
				<value>aa</value>
				<value>ta</value>
				<value>Aa</value>
			</list>
		</property>
	</bean>

</beans>